<div id="map-container">
  <div id="searchMap"></div>
  <div id="map-canvas"></div>
</div>
<div id="pics">
</div>
<input id="searchTextField" type="text" size="50">
<!-- <%= javascript_tag "initialize()" %> -->
