<h1 id = "title">picsandplaces</h1>
<img id="palm-leaves" src="/assets/palm_leaves.png" alt="Palm Leaves">
<%= asset_path('logo.png') %>
<div id="map-container">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas"></div>
</div>
<div id="pics-container">
</div>
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDRrlwwf_E_gKpDc8b13No-F2sdH9F9h_s&libraries=places">
</script>
<%= javascript_tag "initialize()" %>
