<!DOCTYPE html>
<html>
<head>
  <title>Picsandplaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRrlwwf_E_gKpDc8b13No-F2sdH9F9h_s">
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>
